# Lab 1 – Python Fundamentals Review
Learning Objectives

By the end of this lab, you should be able to:

- Work confidently with Python data types and structures

- Use control flow to write basic programs

- Write reusable functions and simple classes

- Manipulate lists, dictionaries, and matrices

- Apply Python fundamentals in preparation for PyTorch

## Variables and Basic Data Types

In [2]:
# Integer
x = 10

# Float
y = 3.14

# String
name = "AIG 230"

# Boolean
is_fun = True

print(x, y, name, is_fun)

10 3.14 AIG 230 True

## Lists

In [3]:
numbers = [1, 2, 3, 4, 5]
words = ["nlp", "python", "pytorch"]

print(numbers)
print(words)

[1, 2, 3, 4, 5]
['nlp', 'python', 'pytorch']

### Common List Operations

In [4]:
numbers.append(6)
numbers.remove(3)

print(numbers)
print(numbers[0])      # first element
print(numbers[-1])     # last element

[1, 2, 4, 5, 6]
1
6

### Looping Through a List

In [5]:
for word in words:
    print(word.upper())

NLP
PYTHON
PYTORCH

In [6]:
# TODO
"""Create a list of 5 numbers and print their squares."""

nums = [1, 2, 3, 4, 5]
for num in nums:
    print(num ** 2)

1
4
9
16
25

## Dictionaries

In [7]:
# Dictionaries store key–value pairs
student = {
    "name": "Jessica",
    "course": "AIG 230",
    "year": 2026
}

print(student)
print(student["course"])

{'name': 'Jessica', 'course': 'AIG 230', 'year': 2026}
AIG 230

### Modifying Dictionaries

In [8]:
student["grade"] = "A"
student["year"] = 2027

print(student)

{'name': 'Jessica', 'course': 'AIG 230', 'year': 2027, 'grade': 'A'}

### Looping Through a Dictionary

In [9]:
for key, value in student.items():
    print(key, ":", value)

name : Jessica
course : AIG 230
year : 2027
grade : A

In [11]:
# TODO
""" Create a dictionary describing the courses you are taking this semester
(keys: course_name, code, time, grade)."""

# courses = {
#     "course_name": "Capstone",
#     "code": "AIG200",
#     "time": "Mondays",
#     "grade": "A"
# }

# print(courses)

courses = [
    {
        "course_name": "Capstone",
        "code": "AIG200",
        "time": "Mondays",
        "grade": "A+"
    },
    {
        "course_name": "NLP",
        "code": "AIG230",
        "time": "Tuesdays",
        "grade": "A+"
    }
]

for course in courses:
    print(course)

{'course_name': 'Capstone', 'code': 'AIG200', 'time': 'Mondays', 'grade': 'A+'}
{'course_name': 'NLP', 'code': 'AIG230', 'time': 'Tuesdays', 'grade': 'A+'}

# Matrices and Nested Lists

In [12]:
# In Python, matrices are often represented as lists of lists.
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)
print(matrix[0])
print(matrix[1][2])  # row 2, column 3

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
6

### Looping Through a Matrix

In [ ]:
for row in matrix:
    for value in row:
        print(value, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [13]:
# TODO
""" Create a 2×3 matrix and print all values."""

test_matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
print(test_matrix)

for row in test_matrix:
    for value in row:
        print(value, end=" ")

[[1, 2, 3], [4, 5, 6]]
1 2 3 4 5 6

# Basic Operations

In [ ]:
a = 10
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)  # exponentiation

13
7
30
3.3333333333333335
1000

### Operations on Lists

In [ ]:
nums = [1, 2, 3]
nums_times_two = [n * 2 for n in nums]

print(nums_times_two)

[2, 4, 6]

# Conditional Statements (if / elif / else)

In [ ]:
score = 85

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
else:
    grade = "C"

print("Grade:", grade)

Grade: B

# For Loops

In [ ]:
for i in range(5):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

### Loop with Condition

In [ ]:
for num in range(10):
    if num % 2 == 0:
        print(num, "is even")

0 is even
2 is even
4 is even
6 is even
8 is even

# Functions

In [ ]:
# Functions help you reuse code.

def greet(name):
    return f"Hello, {name}!"

print(greet("AIG 230"))

Hello, AIG 230!

In [ ]:
# Function with Multiple Arguments

def add(a, b):
    return a + b

result = add(3, 5)
print(result)

8

In [14]:
# TODO
""" Write a function that returns the square of a number"""

def square(num):
    return num ** 2

print(square(5))

25

# Classes and Objects

In [ ]:
# Classes allow you to model real-world objects.
class Student:
    def __init__(self, name, course):
        self.name = name
        self.course = course

    def introduce(self):
        return f"My name is {self.name} and I am enrolled in {self.course}"

In [ ]:
student1 = Student("Jessica", "AIG 230")
print(student1.introduce())

My name is Jessica and I am enrolled in AIG 230

# Putting It All Together

In [17]:
# TODO
""" Create a class called courses_winter 2026
with attributes course_name, code, time, grade and a method to display course info."""

class courses_winter_2026:
    def __init__(self, course_name, code, time, grade):
        self.course_name = course_name
        self.code = code
        self.time = time
        self.grade = grade

    def display_info(self):
        print(f"Course Name: {self.course_name}, Course Code: {self.code}")

In [18]:
# TODO
""" Create three instances of the courses_winter 2026 class and display their info."""

course1 = courses_winter_2026("Capstone", "AIG200", "Mondays", "A+")
course2 = courses_winter_2026("NLP", "AIG230", "Tuesdays", "A+")
course3 = courses_winter_2026("Deep Learning", "AIG240", "Wednesdays", "A")

print(course1.display_info())
print(course2.display_info())
print(course3.display_info())

Course Name: Capstone, Course Code: AIG200
None
Course Name: NLP, Course Code: AIG230
None
Course Name: Deep Learning, Course Code: AIG240
None